
<div *ngIf="currentFormattedDate | async as date" class="formatted-date">
  {{date.currentMonth}}/{{date.dateOfMonth}}/{{date.currentYear}}
</div>

<div>
  <form>
    <mat-form-field>
      <mat-label>Project</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput type="text"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Paycode</mat-label>
      <mat-select>
        <mat-option *ngFor="let paycode of paycodes" [value]="paycode">
          {{paycode}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Date
      </mat-label>
      <input matInput type="date">
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Time In:
      </mat-label>
      <input matInput type="time">
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Time Out:
      </mat-label>
      <input matInput type="time">
    </mat-form-field>

    <div>
      <button color="warn" mat-raised-button>
        cancel
      </button>
      <button mat-raised-button>
        submit
      </button>
    </div>
  </form>
</div>
