



<div class="daily-view-container">

  <div class="top-mobile-toolbar">
    <div class="top-mobile-toolbar-topHalf">
      <div class="weekly-view-button">
        <button mat-icon-button><mat-icon>arrow_back_ios_new</mat-icon></button>
      </div>

      <div *ngIf="currentFormattedDate | async as date" class="formatted-date">
        {{date.currentMonth}}/{{date.dateOfMonth}}/{{date.currentYear}}
      </div>
    </div>

  </div>



  <div class="clocked-time-information">
    <span>Today's Shifts</span>
    <div class="daily-grid">
      <div class="">Prj </div>
      <div class="">JobCode </div>
      <div class="">PayCode </div>
      <div class="">In </div>
      <div class="">Out </div>

      <div class="shiftDetails-container" *ngFor="let shift of shiftsMock$ | async">
      <mat-card class="shiftDetails-materialCard">
        <mat-card-content>
          <div class="shiftDetails">
            <div>{{shift.project}}</div>
            <div>{{shift.jobCode}}</div>
            <div>{{shift.payCode}}</div>
            <div>{{ shift.timeIn}}</div>
            <div>{{shift.timeOut}}</div>
          </div>
        </mat-card-content>
      </mat-card>
      </div>

    </div>


  </div>


  <div class="bottom-mobile-toolbar">
    <div class="bottom-mobile-toolbar-half">
      <div class="addToCurrentDay-button">
        <button mat-raised-button (click)="addToDay()">
          Add to this day
        </button>
      </div>
    </div>


  </div>

</div>

