


@media(min-width: 370px){

  .daily-view-container{
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, 1fr));
    grid-auto-rows: auto;
    grid-template-rows: repeat(6, 1fr);
    height: 100%;
    .top-mobile-toolbar{
      grid-area: 1/1/2/5;
      display: grid;
      grid-template-rows: repeat(2,1fr);
      grid-template-columns: repeat(4, 1fr);
      .top-mobile-toolbar-topHalf{
        grid-area: 1/1/2/5;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-color: lightskyblue;
        .weekly-view-button{
          grid-area: 1/1/2/2;
        }
        .formatted-date{
          grid-area: 1/2/2/3;
        }
      }

    }


    .week-overview-container{
      display: grid;
      grid-template-rows: 1fr 2fr;
      grid-template-columns: 1fr;
      min-width: 365px;
      max-height: 100px;
      .week-overview-dayHeaders{
        grid-area: 1/1/2/2;
        //display: grid;
        //grid-template-columns: 1fr;
        //grid-template-rows: 1fr;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 5px;
        .wodh-header{
          //display: flex;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          .dayOfWeek{
            grid-area: 1/1/2/2;
            font-size: small;
            text-align: center;
          }
          .formattedDate{
            grid-area: 2/1/3/2;
            font-size: xx-small;
            text-align: center;
          }
        }
      }
      .week-overview-day-totalHours{
        grid-area: 2/1/3/2;
        //display: grid;
        //grid-template-columns: 1fr;
        //grid-template-rows: 1fr;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .woth-hours{
          text-align: center;
          width: 100%;
        }
      }
    }



    .clocked-time-information{
      grid-area: 3/1/4/5;
      .header-font{
        font-family: 'Lato', sans-serif;
        justify-content: center;
        display: flex;
      }
      .daily-shifts-grid-header{
        width: 100%;
        min-width: 370px;
        justify-content: center;
        display: flex;
        font-size: medium;
        margin-bottom: 15px;
      }
      .daily-grid{
        display: grid;
        grid-template-columns: 140px 60px 60px 40px 60px;;
        //grid-template-columns: repeat(5, minmax(8.33%, 1fr));
        grid-template-rows: auto;

        .project-grid-header{

        }
        .jobCode-grid-header{}
        .payCode-grid-header{}
        .timeIn-grid-header{}
        .timeOut-grid-header{}

        .shiftDetails-container{
          display: flex;
          flex-direction: row;
          width: 100%;
          min-width: 370px;
          grid-column: 1/6;
          .shiftDetails-materialCard{
            width: 100%;
            min-width: 360px;
            box-sizing: border-box;
            background-color: aliceblue;
            color: black;
            box-shadow: 2px 2px 5px black;
            margin-top: 5px;
            margin-left: 5px;
            margin-right: 10px;
            .shiftDetails{
              display: flex;
              flex-direction: row;
              width: 100%;
              .shift-project{
                min-width: 125px;
                width: 100%;
              }
              .shift-jobCode{
                min-width: 60px;
                width: 100%;
              }
              .shift-payCode{
                min-width: 60px;
                width: 100%;
              }
              .shift-timeIn{
                min-width: 50px;
                width: 100%;
              }
              .shift-timeOut{
                min-width: 50px;
                width: 100%;
              }

            }
          }
        }

      }
    }

    .daily-totalHours-container{
      grid-area: 4/1/6/5;
    }


   .bottom-mobile-toolbar{
     grid-area: 6/1/7/5;
     display: grid;
     grid-template-rows: repeat(2, 1fr);
     grid-template-columns: repeat(4, 1fr);
     .bottom-mobile-toolbar-half{
       grid-area: 2/1/3/5;
       background-color: lightskyblue;
       .addToCurrentDay-button{

       }
     }


   }
  }



}


